* {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(to right, #9E34B3, #481752, #391341);
    height: 124px;
    display: flex;
    align-items: center;
}

header .logo-block {
    justify-content: center;
    flex-direction: column;
    width: max-content;
    text-align: center;
    margin-left: 67px;
}

header .logo-block h1 {
    font-family: 'Jaini', sans-serif;
    color: white;
    font-size: 20px;
}

header .logo-block img {
    width: 68px;
    height: auto;
}

header nav {
    display: flex;
}

header nav .search-block {
    background-color: #D9D9D9;
    width: 285px;
    height: 63px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 153px;
}

header nav .search-block .search-query {
    display: flex;
    font-size: 24px;
    border-bottom: 3px solid #5C5A5A;
    width: 245px;
    color: #5C5A5A;
    font-weight: bold;
}

header nav .search-block .search-query input {
    all: unset;
    box-sizing: border-box;
    max-width: 245px;
}

header nav .main-links {
    display: flex;
    list-style: none;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

header nav .main-links li {
    display: inline-block;
    margin-left: 33px;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 25%);
}

header nav .main-links li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
}

header nav .main-links li a:hover {
    color: rgb(176, 182, 91);
}


header .login-button {
    width: 141px;
    height: 45px;
    background-color: #634073;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 25%);
    position: absolute;
    right: 25px;
    transition: transform 0.2s ease;
}

header .login-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

main {
    background-color: #141414;
    padding-bottom: 200px;
}

main .main-categories ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 130px 22%;
    text-align: center;
    height: 180px;
}

main .main-categories .main-categories-block {
    background-color: none;
    border: 6px solid #872D99;
    width: 175px;
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

main .main-categories .main-categories-sign {
    padding-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 32px;
}

main .main-categories .main-categories-sign a {
    all: unset;
    transition: color 0.3s ease;
}

main .main-categories .main-categories-sign a:hover {
    cursor: pointer;
    color: rgb(176, 182, 91);
}

main .main-categories .main-categories-block img {
    width: 160px;
    height: 160px;
}

main .categories {
    color: white;
    font-weight: bold;
    padding: 50px 22%;

}

main .categories-name {
    font-size: 32px;
    padding-bottom: 20px;
}

main .categories .background-frame {
    display: flex;
    height: 175px;
    width: 175px;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

main .categories ul {
    display: flex;
    justify-content: space-between;
}

main .categories li {
    list-style: none;
    display: inline-block;
    text-align: center;
}

main .categories-sign {
    all: unset;
    font-weight: bold;
    font-size: 24px;
}

main .categories-sign:hover {
    cursor: pointer;
}

main .categories-icon-count {
    color: #949494;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
}

main .categories img {
    height: 110px;
    width: 110px;
}

main .editor {
    justify-content: space-between;
    padding: 30px 22%;
    display: flex;
    margin-top: 60px;
}

main .editor-inscription {
    position: relative;
    width: 605px;
    height: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .editor .editor-inscription img {
    color: #391341;
}

main .editor .editor-inscription span {
    color: white;
    font-weight: bold;
    position: absolute;
    width: 90%;
    height: 90%;
    font-size: 17px;
    letter-spacing: 10%;
    transform: rotate(-2.37deg);
    text-align: center;
    padding-top: 50px;
}

main .editor .editor-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 216px;
    height: 85px;
    border-radius: 50px;
    background-color: none;
    border: 7px solid #395C59;
    margin-left: 10px;
    margin-right: 8%;
}

main .editor .editor-link .editor-link-button {
    display: flex;
    width: 190px;
    height: 60px;
    background-color: #395C59;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: white;

}

footer {
    background: linear-gradient(45deg, #C2C0C3, #A3A1A3, #5D5C5D);
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
}

footer .made-in {
    margin: 0 10px;
}

footer .help-links {
    margin: 0 50px;
}

footer .help-links li {
    margin: 20px;
}

footer .help-links li a {
    all: unset;
}

footer .help-links li a:hover {
    cursor: pointer;
}

footer .number {
    margin: 0 100px;
}

footer img {
    width: 50px;
    height: 50px;
}

footer img:hover {
    cursor: pointer;
}

footer .made-in,
.help-links li,
.number {
    text-shadow: 0px 3px 8px black;
}

div.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

div.login-modal {
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    z-index: 1000;
    width: 600px;
    height: 350px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

div.login-modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.login-modal form input {
    width: 400px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    padding: 0 10px;
    border: 1px solid black;
    font-weight: bold;
}

div.login-modal form button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: #395C59;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

div.login-modal form a {
    all: unset;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}