* {
    padding: 0;
    margin: 0;
}

header {
    background: linear-gradient(to right, #9E34B3, #481752, #391341);
    height: 124px;
    display: flex;
    align-items: center;
}

header .logo-block {
    justify-content: center;
    flex-direction: column;
    width: max-content;
    text-align: center;
    margin-left: 67px;
}

header .logo-block h1 {
    font-family: 'Jaini', sans-serif;
    color: white;
    font-size: 20px;
}

header .logo-block img {
    width: 68px;
    height: auto;
}

header nav {
    display: flex;
}

header nav .search-block {
    background-color: #D9D9D9;
    width: 285px;
    height: 63px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 153px;
}

header nav .search-block .search-query {
    display: flex;
    font-size: 24px;
    border-bottom: 3px solid #5C5A5A;
    width: 245px;
    color: #5C5A5A;
    font-weight: bold;
}

header nav .main-links {
    display: flex;
    list-style: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    align-items: center;
}

header nav .main-links li {
    display: inline-block;
    margin-left: 33px;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 25%);
}

header .login-button {
    width: 141px;
    height: 45px;
    background-color: #634073;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0px 7px 3px rgba(0, 0, 0, 25%);
    position: absolute;
    right: 25px;
}